@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.miama{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9rem;
    line-height: 0%;
    background: none;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(0, 0, 0);
}
header{
    background: linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* shared styled */


/* text color white */
.color-white{
    color: rgb(255, 255, 255);
}
.btn-primary{
    border-radius: 42px;
    width: 224px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
}
.description-primary{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}






/* nav related style starts */
nav{
    max-width: 1060px;
    margin: 57px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 47px;
    font-size: 1.125rem;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.nav-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.hamburger{
    display: none;
}
.nav-title{
    font-size: 2.4rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
    margin: 0;
}
.nav-btn{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    background-color:  rgb(230, 83, 60);
    border-radius: 46px;
    border: none;

}

/* nav related style ends */

/* banner section related style stars */

.banner{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 167px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
#download-btn{
    border: 1px solid rgb(255, 255, 255);
    background: none;
}
.banner-img-container{
    position: relative;
}
.service-token-1{
    padding: 16px 23px 17px 24px;
    width: 193px;
    border-radius: 12px;
    position: absolute;
    left: 66%;
    top: 20%;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.150);
}

.quantity{
    font-size: 2.5rem;
    font-weight: 900;
}
.service-token-1 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: .8125rem;
    margin-top: 5px;
}
.service-token-2{
    padding: 20px 23px 20px 23px;
    width: 203px;
    border-radius: 12px;
    position: absolute;
    bottom: 12%;
    left: -32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    background-color: rgba(48, 48, 48, 0.684);
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);;
}

.lower-quantity{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 8px;
}
.service-token-2 p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}
.play-icon{
    position: absolute;
    bottom: 48%;
    left: -20%;
}


/* banner section related style ends */

/* changing-habit-section stats here */
.changing-habit-section{
    max-width: 1144px;
    margin: 100px auto;
}
.changing-habit-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.changing-habit-text h1{
    margin-bottom: 14px;
}
.habit-section-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 54px;
    text-align: center;
}
.habit-section-img{
    max-width: 231px;
}
.habit-section-img img{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-bottom: 30px;
}
.habit-section-img-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}
/* changing-habit-section ends here */

/* running section starts here */
.running-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 32px 29px 54px;
}
.running-section-text{
    width: 45%;
}
.running-section-img{
    background-image: url(../images/running.jpg);
    width: 38%;
    height: 312px;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
}
.running-description{
    margin-top: 14px;
    margin-bottom: 34px;
}
/* running section ends here */

/* calculation sector starts here */
select:invalid {
    color: rgba(255, 255, 255, 0.6);
}
    option {
    color: black;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.calculator-container{
    background-color: rgb(34, 34, 34);
}
.calculator-title{
    font-size: 1.75rem;
    font-weight: 900;
}
.chart table{
    border-collapse: collapse;
}
.chart th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 13px 20px;
}
#table-header{
    font-size: 1rem;
    font-weight: 500;
}
#table-data{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.calculation-section-header{
   max-width: 671px;
   margin: 78px auto;
}
.calculator-container{
    display: flex;
    justify-content: space-around;
}
.chart{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
} 
.chart h2{
    margin-left: 15px;
    margin-bottom: 60px;
}

.bmi{
    margin-top: 49px;
    max-width: 577px;
}
.bmi > .bmi-description{
    margin-top: 10px;
    margin-bottom: 34px;
}

.calculator-input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-field{
    width: 49%;
    margin-bottom: 12px;
}
.calculator-input-container input,select{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-right: 20px solid transparent;
}
.input-field-selector {
    margin-bottom: 50px;
}
/* calculation sector ends here */

/* teem section starts here */
.teem-img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    gap: 20px;

}
.teem-section{
    max-width: 1060px;
    margin: 88px auto;
}
.teem-img{
    position: relative;
}
.trainer-name{
    font-size: 1.25rem;
    font-weight: 900;
}
.trainer{
    font-size: .875rem;
    color: rgba(255, 255, 255, 0.5);
}
.individual-img{
    width: 326px;
    height: 272px;
}
.individual-img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.img-info{
    position: absolute;
    bottom: 7%;
    left: 5%;
}
.teem-section-heading{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 76px;
}
/* teem section ends here */




/* responsive media query part stats */

@media screen and (max-width: 576px) {
    .description-primary{
        line-height: 24px;
    }
    nav{
        width: calc(100% - 40px);
        margin-top: 52px;
    }
    .nav-menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner, .habit-section-img-container, .running-section, .calculator-container{
        flex-direction: column;
    }
    .banner{
        gap: 5px;
    }
    .banner-text, .running-section{
        width: calc(100% - 40px);
        margin: 50px auto;
    }
    .banner-title{
        font-size: 2.125rem;
    }
    .banner-img-container{
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .banner-img-container img{
        width: 100%;
    }
    .miama{
        font-size: 4rem;
        
    }
    .header-btn{
        width: 170px;
        padding: 16px 20px;
    }
    .club{
        display: none;
    }
    .service-token-1{
        padding: 12px 0 11px 18px;
        width: 160px;
        top: 12%;
        left: 55%;
    }
    .service-token-2{
        padding: 14px 10px 14px 16px;
        width: 180px;
        left: -2%;
        bottom: 42%;
    }
    .play-icon{
        bottom: 47.5%;
        left: 7%;
    }
    .changing-habit-section{
        width: calc(100% - 70px);
        margin: 30px auto;
    }
    .section-title{
        font-size: 2rem;
    }
    .habit-des{
        text-align: center;
    }
    .running-section{
        margin-top: 70px;
    }
    .running-section-text, .running-section-img{
        width: 100%;
    }
    .running-section-img{
        height: 170px;
        background-size: cover;
        margin-top: 30px;
    }
    .running-section-btn{
        width: 100%;
    }
    .running-description{
        margin-top: 14px;
    }
    .chart, .bmi {
        width: calc(100% - 40px);
        margin: 30px auto;
    }
    .input-field{
        width: 48.2%;
    }
    .calculator-title{
        font-size: 1rem;
    }
    .calculation-section-header,{
        width: calc(100% - 40px);
    }
    .calculation-section-title{
        margin-bottom: 14px;
    }
    .teem-section{
        width: calc(100% - 40px);
        margin: 88px auto;
    }
    .teem-img-container{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        padding: 12px;
    }
}